[data-atoms=app]
  [data-organism-section=appnimasession]
    &, *
      text-align: center
    &:not(.no-image)
      padding: 5rem 1rem 0 1rem !important
    &.no-image
      padding: 9rem 1rem 0 1rem !important
      > img
        display: none
    &.no-copyright
      > [data-atom-heading]
        display: none

    > img
      margin: 0 auto
      height: SIZE = 4rem
      min-width: SIZE

    > form
      margin: 1rem 0
      *
        text-align: center

    > [data-atom-heading]
      position: absolute
      left: 0
      bottom: .5rem
      width: 100%
      font-size: .8rem
      font-weight: normal

[data-atoms=app]
  [data-organism-section=appnimaprofile]
    *
      text-align: center
    > [data-atom-heading]
      HEIGHT = 2.5rem
      margin-top: -(HEIGHT)
      height: HEIGHT
      font-size: 1.05rem
      line-height: HEIGHT
      background-color: rgba(0,0,0,0.5)
      color: white

    > [data-molecule-form] > [data-atom-input][type=file]
      display: none

