[data-atoms=app]
  [data-organism=section][data-extend=appnimasession]
    text-align: center !important
    &:not(.no-image)
      padding: 5rem 1rem 0 1rem !important
    &.no-image
      padding: 9rem 1rem 0 1rem !important
      > img
        display: none
    &.no-copyright
      > [data-atom=heading]
        display: none

    > img
      margin: 0 auto
      height: SIZE = 4rem
      min-width: SIZE

    > form
      margin: 1rem 0

    > [data-atom=heading]
      position: absolute
      left: 0
      bottom: .5rem
      width: 100%
      font-size: .8rem
      font-weight: normal
