[data-atoms=app]
  [data-organism=appnimasession]
    text-align: center !important
    padding: 1rem
    > img
      margin-top: 5rem
      height: SIZE = 4rem
      min-width: SIZE

    > form
      margin: 1rem 0

    > [data-atom=heading]
      position: absolute
      left: 0
      bottom: .5rem
      width: 100%
      font-size: .8rem
      font-weight: normal
